---
layout: default
title: "Ioan Assenov"
---

<section class="hero">
  <h1>Hello, I am Ioan</h1>
  <p class="lead">
    I am a graduating senior in mechanical engineering at the University of Michigan – Ann Arbor.
    I am passionate about applying engineering to help make the world a better place. Explore my experiences and past work here!
  </p>
  <div class="cta">
    <a class="btn" href="{{ '/assets/documents/assenov_ioan_resume.pdf' | relative_url }}" target="_blank" rel="noopener">Resume</a>
    <a class="btn outline" href="https://www.linkedin.com/in/ioan-assenov" target="_blank" rel="noopener">LinkedIn</a>
    <a class="btn outline" href="{{ '/assets/documents/assenov_ioan_engr_portfolio.pdf' | relative_url }}", target="_blank">Portfolio (PDF)</a>
  </div>
  <a class="down" href="#projects" aria-label="Scroll to projects">↓</a>
</section>

<section id="projects">
  <h2>Projects & Experiences</h2>
  <p>I have a wide range of experiences across a variety of multidisciplinary areas involving many skills and advanced knowledge. Learn more about my projects below.</p>
  {% assign items = site.experiences | sort:"date" | reverse %}
  <div class="grid">
    {% for item in items %}
      {% include card.html 
        title=item.title
        summary=item.summary
        link=item.url
        img=item.hero
      %}
    {% endfor %}
  </div>
</section>

<section id="coursework">
  <h2>Advanced Coursework</h2>
  <div class="course-list">
    {% for item in site.data.courses %}
      {% include course.html number=item.number coursetitle=item.coursetitle instructor=item.instructor %}
    {% endfor %}
  </div>
</section>
