<footer class="site-footer" id="contact">
  <div class="wrap">
    <div>
      <h3>Let's connect!</h3>
      <p>LinkedIn: <a href="https://www.linkedin.com/in/ioan-assenov" target="_blank" rel="noopener">linkedin.com/in/ioan-assenov</a></p>
      <p>✉️ Email: <a href="mailto:[ioancho@umich.edu]">ioancho@umich.edu</a></p>
      <p>📞 Phone: +1 (734) 800-1908</p>
      <p>📍 Ann Arbor, MI, USA</p>
    </div>
    <div class="quick-links">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="{{ '/assets/documents/assenov_ioan_resume.pdf' | relative_url }}" target="_blank" rel="noopener">Resume</a></li>
        <li><a href="{{ 'experiences' | relative_url }}" rel="noopener">Projects & Experiences</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">© {{ 'now' | date: '%Y' }} {{ site.title }}</div>
</footer>
