<header class="site-header">
  <div class="wrap">
    <a class="brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="nav">      
      
      <!-- Experiences drop down -->
      <details class="dropdown">
        <summary class="dropbtn">
          <span>Experiences</span>
          <svg aria-hidden="true" width="14" height="14" viewBox="0 0 20 20" class="caret">
            <path d="M5 7l5 6 5-6" fill="currentColor"/>
          </svg>
        </summary>
        <ul class="dropdown-menu">
          <li><a href="{{ '/experiences/' | relative_url }}">All Experiences</a></li>
          {% assign items = site.experiences | sort: 'title' %}
          {% for item in items %}
            <li><a href="{{ p.url | relative_url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </details>

      <a href="/#contact">Contact</a>

      <a class="btn" href="{{ '/assets/documents/assenov_ioan_resume.pdf' | relative_url }}" target="_blank"> Resume</a>
    </nav>
  </div>
</header>
