
.hero{
    text-align:center;
    padding:6rem 0 3rem
}
.hero h1{
    font-size:3rem;
    margin:.2rem 0
}

.lead{
    max-width:800px;
    margin:1rem auto 2rem;
    color:var(--muted)
}

.cta{
    display:flex;
    gap:.75rem;
    justify-content:center;
    flex-wrap:wrap
}
.btn{
    display:inline-block;
    padding:.65rem 1rem;
    border-radius:.8rem;
    background:var(--accent);
    color:#001b18;
    font-weight:700
}
.btn.outline{
    background:transparent;
    border:1px solid var(--accent);
    color:var(--accent)
}
.down{
    display:inline-block;
    margin-top:2rem;
    color:var(--muted);
    font-size:2rem
}