
.hero{
    text-align:center;
    padding: 20rem 0 25rem;
    margin-left: calc(-50vw + 50%); /* pulls section to full viewport width */
    margin-top: -10rem;
    width: 100vw;
    overflow-x:hidden;

    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/assets/img/mainhero.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.hero h1{
    font-size:3rem;
    margin:.2rem 0;
}

.lead{
    max-width:800px;
    margin:1rem auto 2rem;
    color:var(--text)
}

.cta{
    display:flex;
    gap:.75rem;
    justify-content:center;
    flex-wrap:wrap
}
.btn{
    display:inline-block;
    padding:.65rem 1rem;
    border-radius:.8rem;
    background:var(--accent);
    color:#001b18;
    font-weight:700
}
.btn.outline{
    background:transparent;
    border:1px solid var(--accent);
    color:var(--accent)
}
.down{
    display:inline-block;
    margin-top:2rem;
    color:var(--muted);
    font-size:2rem
}